body {
  font-family: Roboto;
  font-size: 16px;
  margin: 10px;
}

button {
  cursor: pointer;
  background: #fff;
  border: 1px solid #2f80ed;
  border-radius: 8px;
  color: #2f80ed;
  padding: 8px 16px;
  margin: 8px 0;
}

button:hover {
  background: #2f80ed;
  color: #fff;
}

a:link {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  height: 100%;
  padding: 15px;
}

uc-drawer[position="left"] nav,
uc-drawer[position="right"] nav {
  flex-direction: column;
}
